
@layer base {

    @font-face {
      font-family: 'SuisseIntl';
      src: url('../fonts/SuisseIntl-Light.woff2') format('woff2'),
      url('../fonts/SuisseIntl-Light.woff2') format('woff');
      font-style: normal;
      font-weight: 300;
    }
    @font-face {
      font-family: 'SuisseIntl';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url('../fonts/SuisseIntl-Regular.woff2') format('woff2'),
      url('../fonts/SuisseIntl-Regular.woff') format('woff');
    }
    @font-face {
      font-family: 'SuisseIntl';
      font-style: normal;
      font-weight: 500;
      font-display: swap;
      src: url('../fonts/SuisseIntl-Medium.woff2') format('woff2'),
      url('../fonts/SuisseIntl-Medium.woff') format('woff');
    }
    @font-face {
      font-family: 'SuisseIntl';
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url('../fonts/SuisseIntl-SemiBold.woff2') format('woff2'),
      url('../fonts/SuisseIntl-SemiBold.woff') format('woff');
    }
    @font-face {
      font-family: 'SuisseIntl';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url('../fonts/SuisseIntl-Bold.woff2') format('woff2'),
      url('../fonts/SuisseIntl-Bold.woff') format('woff');
    }
  
    :root {
      --accent-primary: #19110B;
      --stroke-primary: #E9E9EE;
    }
  }

